<header class="header header-home-five">
    <nav class="navbar navbar-default header-navigation stricky">
        <div class="thm-container clearfix">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed rideflex-icon-menu" data-toggle="collapse" data-target=".main-navigation" aria-expanded="false"> </button>
                <a class="navbar-brand" href="index.html">
                    <img src="Assets/img/header-logo-1.png" alt="Awesome Image"/>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse main-navigation mainmenu " id="main-nav-bar">
                
                <ul class="nav navbar-nav navigation-box">
                    <li class="current"> 
                        <a href="index.html">Home</a> 
                        <ul class="sub-menu">
                            <li><a href="index.html">Home Page One</a></li>
                            <li><a href="index2.html">Home Page Two</a></li>
                            <li><a href="index3.html">Home Page Three</a></li>
                            <li><a href="index4.html">Home Page Four</a></li>
                            <li><a href="index5.html">Home Page Five</a></li>
                            <li><a href="index6.html">Home Page Six</a></li>
                        </ul><!-- /.sub-menu -->
                    </li>
                    <li> <a href="features.html">Features</a> </li>
                    <li> 
                        <a href="#">Pages</a> 
                        <ul class="sub-menu">
                            <li> <a href="pricing.html">Pricing</a> </li>
                            <li><a href="faq.html">FAQ Page</a></li>
                            <li><a href="team.html">Team</a></li>
                            <li><a href="testimonials.html">Testimonials</a></li>
                            <li><a href="404.html">404 Page</a></li>
                        </ul><!-- /.sub-menu -->
                    </li>
                    <li> 
                        <a href="blog.html">News</a> 
                        <ul class="sub-menu">
                            <li><a href="blog.html">News Grid</a></li>
                            <li><a href="blog-details.html">News Details</a></li>
                        </ul><!-- /.sub-menu -->
                    </li>
                    <li> <a href="contact.html">Contact</a> </li>
                </ul>                
            </div><!-- /.navbar-collapse -->
            <div class="right-side-box">
                <a href="#" class="trial-btn">Start Free Trial</a>
            </div><!-- /.right-side-box -->
        </div><!-- /.container -->
    </nav>   
</header><!-- /.header -->