<header class="header header-home-five">
    <nav class="navbar navbar-default header-navigation stricky">
        <div class="thm-container clearfix">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed rideflex-icon-menu" data-toggle="collapse" data-target=".main-navigation" aria-expanded="false"> </button>
                <a class="navbar-brand" href="index.html">
                    <img src="Assets/img/header-logo-1.png" alt="Awesome Image"/>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse main-navigation mainmenu " id="main-nav-bar">
                
                <ul class="nav navbar-nav navigation-box">
                    <li class="current"> 
                        <a href="index.html">Home</a>
                    </li>
                    <li> <a href="features.html">Features</a> </li>
                    <li> 
                        <a href="team.html">Team</a> 
                    </li>
                    <li> 
                        <a href="app.html">App</a>
                    </li>
                    <li> <a href="contact.html">Contact</a> </li>
                </ul>                
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>   
</header><!-- /.header -->



